In [17]:
import pandas as pd
from datetime import datetime
import numpy as np
import talib as ta

In [18]:
# Data 2
path = '/Users/ballmdr/data'
filename = 'EURUSD_D1.csv'
df = pd.read_csv(path + '/' + filename, names=['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
df['Datetime'] = pd.to_datetime(df.Date + ' ' + df.Time)
df = df.drop(['Date', 'Time'], axis=1)
df = df.set_index('Datetime')
df = df.dropna()

df['Target'] = np.where(df.Close.shift(-1) > df.Close, 1, 0)

df['ADX'] = ta.ADX(df.High, df.Low, df.Close, timeperiod=14)
df['CCI'] = ta.CCI(df.High, df.Low, df.Close, timeperiod=14)
df['MOM'] = ta.MOM(df.Close, timeperiod=10)
df['RSI'] = ta.RSI(df.Close, timeperiod=14)
df['Linear_regression'] = ta.LINEARREG(df.Close, timeperiod=14)
df['Linear_angle'] = ta.LINEARREG_ANGLE(df.Close, timeperiod=14)
df['Linear_slope'] = ta.LINEARREG_SLOPE(df.Close, timeperiod=14)
df['Linear_intercept'] = ta.LINEARREG_INTERCEPT(df.Close, timeperiod=14)

# features
df['Returns'] = np.log(df.Close/df.Close.shift(1))
df['ADX_diff'] = df.ADX.diff()
df['CCI_diff'] = df.CCI.diff()
df['MOM_diff'] = df.MOM.diff()
df['RSI_diff'] = df.RSI.diff()
df['Linear_regression_diff'] = df.Linear_regression.diff()
df['Linear_angle_diff'] = df.Linear_angle.diff()
df['Linear_slope_diff'] = df.Linear_slope.diff()
df['Linear_intercept_diff'] = df.Linear_intercept.diff()

df = df.dropna()
drop_cols = ['Open', 'High', 'Low', 'Close', 'Volume']
drop_cols_2 = ['ADX', 'CCI', 'MOM', 'RSI']
drop_cols_3 = ['Linear_regression', 'Linear_angle', 'Linear_slope', 'Linear_intercept']
drop_cols = drop_cols + drop_cols_2 + drop_cols_3

df = df.drop(drop_cols, axis=1)

In [19]:
df.head()

,Target,Returns,ADX_diff,CCI_diff,MOM_diff,RSI_diff,Linear_regression_diff,Linear_angle_diff,Linear_slope_diff,Linear_intercept_diff
Datetime,,,,,,,,,,
2003-09-07,0,-0.001145,-3.633067,12.798014,-0.00601,-0.792645,0.005093,0.034840,0.000608,-0.002812
2003-09-08,1,-0.002158,-3.080056,-46.153731,-0.00012,-1.534490,0.003217,0.016252,0.000284,-0.000471
2003-09-09,0,0.013599,-4.006817,31.678869,0.01236,8.554027,0.006306,0.032812,0.000573,-0.001139
2003-09-10,1,-0.003188,-3.720616,-16.883688,-0.01383,-2.405602,0.003946,0.012456,0.000217,0.001120
2003-09-11,1,0.000179,-3.083618,-21.011796,-0.00050,0.109947,0.003661,0.012806,0.000224,0.000756

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4826 entries, 2003-09-07 to 2019-02-06
Data columns (total 10 columns):
Target                    4826 non-null int64
Returns                   4826 non-null float64
ADX_diff                  4826 non-null float64
CCI_diff                  4826 non-null float64
MOM_diff                  4826 non-null float64
RSI_diff                  4826 non-null float64
Linear_regression_diff    4826 non-null float64
Linear_angle_diff         4826 non-null float64
Linear_slope_diff         4826 non-null float64
Linear_intercept_diff     4826 non-null float64
dtypes: float64(9), int64(1)
memory usage: 414.7 KB

In [21]:
df.to_csv('data2_D1.csv')