In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
import talib as ta

In [2]:
filename = 'data/EURUSD_H1.csv'
df = pd.read_csv(filename, names=['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
df['Datetime'] = pd.to_datetime(df.Date + ' ' + df.Time)
df = df.drop(['Date', 'Time'], axis=1)
df = df.set_index('Datetime')
df = df.dropna()

df['Target'] = np.where(df.Close.shift(-1) > df.Close, 1, 0)

In [3]:
df.head()

                        Open     High      Low    Close  Volume  Target
Datetime
2003-08-04 00:00:00  1.12672  1.12761  1.12608  1.12645   29148       0
2003-08-04 01:00:00  1.12643  1.12675  1.12572  1.12623   31072       0
2003-08-04 02:00:00  1.12624  1.12733  1.12602  1.12607   27876       1
2003-08-04 03:00:00  1.12616  1.12684  1.12564  1.12636   27456       1
2003-08-04 04:00:00  1.12660  1.12762  1.12629  1.12708   28464       0

In [18]:
#data 2
path = '/Users/ballmdr/data'
filename = 'EURUSD_D1.csv'
df = pd.read_csv(path + '/' + filename, names=['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
df['Datetime'] = pd.to_datetime(df.Date + ' ' + df.Time)
df = df.drop(['Date', 'Time'], axis=1)
df = df.set_index('Datetime')
df = df.dropna()

df['Target'] = np.where(df.Close.shift(-1) > df.Close, 1, 0)

df['ADX'] = ta.ADX(df.High, df.Low, df.Close, timeperiod=14)
df['CCI'] = ta.CCI(df.High, df.Low, df.Close, timeperiod=14)
df['MOM'] = ta.MOM(df.Close, timeperiod=10)
df['RSI'] = ta.RSI(df.Close, timeperiod=14)
df['Linear_regression'] = ta.LINEARREG(df.Close, timeperiod=14)
df['Linear_angle'] = ta.LINEARREG_ANGLE(df.Close, timeperiod=14)
df['Linear_slope'] = ta.LINEARREG_SLOPE(df.Close, timeperiod=14)
df['Linear_intercept'] = ta.LINEARREG_INTERCEPT(df.Close, timeperiod=14)

# features
df['Returns'] = np.log(df.Close/df.Close.shift(1))
df['ADX_diff'] = df.ADX.diff()
df['CCI_diff'] = df.CCI.diff()
df['MOM_diff'] = df.MOM.diff()
df['RSI_diff'] = df.RSI.diff()
df['Linear_regression_diff'] = df.Linear_regression.diff()
df['Linear_angle_diff'] = df.Linear_angle.diff()
df['Linear_slope_diff'] = df.Linear_slope.diff()
df['Linear_intercept_diff'] = df.Linear_intercept.diff()

df = df.dropna()
drop_cols = ['Open', 'High', 'Low', 'Close', 'Volume']
drop_cols_2 = ['ADX', 'CCI', 'MOM', 'RSI']
drop_cols_3 = ['Linear_regression', 'Linear_angle', 'Linear_slope', 'Linear_intercept']
drop_cols = drop_cols + drop_cols_2 + drop_cols_3

df = df.drop(drop_cols, axis=1)

In [21]:
df.to_csv('data2_D1.csv')

In [4]:
#data 3
df['Linear_regression'] = ta.LINEARREG(df.Close, timeperiod=14)
df['Linear_angle'] = ta.LINEARREG_ANGLE(df.Close, timeperiod=14)
df['Linear_slope'] = ta.LINEARREG_SLOPE(df.Close, timeperiod=14)
df['Linear_intercept'] = ta.LINEARREG_INTERCEPT(df.Close, timeperiod=14)

# features
df['body_candle'] = df.Open - df.Close
df['high_low'] = df.High - df.Low
macd, macdsignal, macdhist = ta.MACD(df['Close'].values, fastperiod=12, slowperiod=26, signalperiod=9)
df['macd'] = macd
df['macdsignal'] = macdsignal
df['macdhist'] = macdhist
df['macd-cross'] = np.where(df['macdsignal'] > df['macd'], 1, -1)
df['ma35'] = ta.SMA(df['Close'].values, timeperiod=35)
df['range_ma35'] = df.Close - df.ma35
df['ma35_valid'] = np.where(df.Close >= df.ma35, 1, 0)
df['ma200'] = ta.SMA(df['Close'].values, timeperiod=200)
df['ma200_valid'] = np.where(df.Close >= df.ma200, 1, 0)
df['35_200_cross'] = np.where(df.ma35 >= df.ma200, 1, 0)
df['Returns'] = np.log(df.Close/df.Close.shift(1))
df['ATR'] = ta.ATR(df['High'].values, df['Low'], df['Close'], timeperiod=14)
df['ATR_diff'] = df.ATR.diff()
df['ADX'] = ta.ADX(df.High, df.Low, df.Close, timeperiod=14)
df['ADX_diff'] = df.ADX.diff()
df['CCI'] = ta.CCI(df.High, df.Low, df.Close, timeperiod=14)
df['CCI_diff'] = df.CCI.diff()
df['MOM'] = ta.MOM(df.Close, timeperiod=10)
df['MOM_diff'] = df.MOM.diff()
df['RSI'] = ta.RSI(df.Close, timeperiod=14)
df['RSI_diff'] = df.RSI.diff()
df['Linear_regression_diff'] = df.Linear_regression.diff()
df['Linear_angle_diff'] = df.Linear_angle.diff()
df['Linear_slope_diff'] = df.Linear_slope.diff()
df['Linear_intercept_diff'] = df.Linear_intercept.diff()

df = df.dropna()
drop_cols = ['Open', 'High', 'Low', 'Close', 'Volume']
drop_cols_2 = ['ma200', 'ma35']
drop_cols_3 = ['Linear_regression', 'Linear_angle', 'Linear_slope', 'Linear_intercept']
drop_cols = drop_cols + drop_cols_2 + drop_cols_3

df = df.drop(drop_cols, axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96733 entries, 2003-08-14 10:00:00 to 2019-02-06 23:00:00
Data columns (total 26 columns):
Target                    96733 non-null int64
body_candle               96733 non-null float64
high_low                  96733 non-null float64
macd                      96733 non-null float64
macdsignal                96733 non-null float64
macdhist                  96733 non-null float64
macd-cross                96733 non-null int64
range_ma35                96733 non-null float64
ma35_valid                96733 non-null int64
ma200_valid               96733 non-null int64
35_200_cross              96733 non-null int64
Returns                   96733 non-null float64
ATR                       96733 non-null float64
ATR_diff                  96733 non-null float64
ADX                       96733 non-null float64
ADX_diff                  96733 non-null float64
CCI                       96733 non-null float64
CCI_diff                  96733 non-null float64
MOM                       96733 non-null float64
MOM_diff                  96733 non-null float64
RSI                       96733 non-null float64
RSI_diff                  96733 non-null float64
Linear_regression_diff    96733 non-null float64
Linear_angle_diff         96733 non-null float64
Linear_slope_diff         96733 non-null float64
Linear_intercept_diff     96733 non-null float64
dtypes: float64(21), int64(5)
memory usage: 19.9 MB

In [6]:
df.to_csv('data/data3_H1.csv')