In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
import talib as ta

In [3]:
filename = 'data/EURUSD_M1.csv'
df = pd.read_csv(filename, names=['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
df['Datetime'] = pd.to_datetime(df.Date + ' ' + df.Time)
df = df.drop(['Date', 'Time'], axis=1)
df = df.set_index('Datetime')
df = df.dropna()

df['Target'] = np.where(df.Close.shift(-1) > df.Close, 1, 0)

In [4]:
df.head()

                        Open     High      Low    Close  Volume  Target
Datetime
2003-08-04 00:00:00  1.12672  1.12675  1.12659  1.12667     503       1
2003-08-04 00:01:00  1.12661  1.12686  1.12652  1.12679     828       1
2003-08-04 00:02:00  1.12682  1.12691  1.12673  1.12682     483       1
2003-08-04 00:03:00  1.12690  1.12698  1.12684  1.12692     704       0
2003-08-04 00:04:00  1.12678  1.12690  1.12674  1.12679     739       0

In [ ]:
# Data 3
path = '/Users/ballmdr/data'
filename = 'data/EURUSD_M1.csv'
df = pd.read_csv(path + '/' + filename, names=['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
df['Datetime'] = pd.to_datetime(df.Date + ' ' + df.Time)
df = df.drop(['Date', 'Time'], axis=1)
df = df.set_index('Datetime')
df = df.dropna()

df['Target'] = np.where(df.Close.shift(-1) > df.Close, 1, 0)

In [18]:
# Data 2
path = '/Users/ballmdr/data'
filename = 'EURUSD_D1.csv'
df = pd.read_csv(path + '/' + filename, names=['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
df['Datetime'] = pd.to_datetime(df.Date + ' ' + df.Time)
df = df.drop(['Date', 'Time'], axis=1)
df = df.set_index('Datetime')
df = df.dropna()

df['Target'] = np.where(df.Close.shift(-1) > df.Close, 1, 0)

df['ADX'] = ta.ADX(df.High, df.Low, df.Close, timeperiod=14)
df['CCI'] = ta.CCI(df.High, df.Low, df.Close, timeperiod=14)
df['MOM'] = ta.MOM(df.Close, timeperiod=10)
df['RSI'] = ta.RSI(df.Close, timeperiod=14)
df['Linear_regression'] = ta.LINEARREG(df.Close, timeperiod=14)
df['Linear_angle'] = ta.LINEARREG_ANGLE(df.Close, timeperiod=14)
df['Linear_slope'] = ta.LINEARREG_SLOPE(df.Close, timeperiod=14)
df['Linear_intercept'] = ta.LINEARREG_INTERCEPT(df.Close, timeperiod=14)

# features
df['Returns'] = np.log(df.Close/df.Close.shift(1))
df['ADX_diff'] = df.ADX.diff()
df['CCI_diff'] = df.CCI.diff()
df['MOM_diff'] = df.MOM.diff()
df['RSI_diff'] = df.RSI.diff()
df['Linear_regression_diff'] = df.Linear_regression.diff()
df['Linear_angle_diff'] = df.Linear_angle.diff()
df['Linear_slope_diff'] = df.Linear_slope.diff()
df['Linear_intercept_diff'] = df.Linear_intercept.diff()

df = df.dropna()
drop_cols = ['Open', 'High', 'Low', 'Close', 'Volume']
drop_cols_2 = ['ADX', 'CCI', 'MOM', 'RSI']
drop_cols_3 = ['Linear_regression', 'Linear_angle', 'Linear_slope', 'Linear_intercept']
drop_cols = drop_cols + drop_cols_2 + drop_cols_3

df = df.drop(drop_cols, axis=1)

In [21]:
df.to_csv('data2_D1.csv')